.home-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.diary-list-container {
  display: flex;
  flex-direction: column;
}

.controller-container {
  display: flex;
  gap: 15px;
  height: 40px;
}

.controller-container > .button-container {
  flex: 1;
  height: 100%;
}

.controller-container > .button-container > button {
  width: 100%;
  height: 100%;
  font-weight: 400;
}

.diary-list-container > .diary-item-container {
  padding: 20px 0px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.diary-list-container > .diary-item-container > .emotion-card > p {
  display: none;
}

.diary-list-container > .diary-item-container > .contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.diary-list-container > .diary-item-container > .contents > .date {
  font-size: 18px;
  font-weight: 600;
}

.diary-list-container > .diary-item-container > .contents > .content {
  font-size: 14px;
}
