/* .button-container {
} */

.button-container > button {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(236, 236, 236);
  color: rgb(82, 82, 82);
  width: 100px;
}

.button-container > button:hover {
  background-color: rgb(216, 216, 216);
}

.button-container > button.positive {
  background-color: #64c964;
  color: #ffffff;
}

.button-container > button.positive:hover {
  background-color: #59bd59;
}
