.header-container {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
}

.header-container > .header-title-container > h3 {
  font-size: 18px;
  font-weight: 300;
}
