.textarea-container {
  width: 100%;
}

.textarea-container > textarea {
  width: 100%;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(236, 236, 236);
  height: 250px;
}

.textarea-container > textarea:focus {
  outline: none;
}
